.contenedor {
    height: 300px;
    display: flex;
    // align-items: center;
    justify-content: center;
    position: relative;
    margin: 35px 120px;
    background: url('https://res.cloudinary.com/dvvhnrvav/image/upload/v1738993559/b5hkrjn6hmjkfucyhsxw.jpg') no-repeat left top;
    background-size: contain; /* La imagen solo ocupa su tamaño real */
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}

// 

// height: 400px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   margin: 35px 120px;
//   width: 80%;
//   max-width: 1200px;
//   background: url(https://res.cloudinary.com/dvvhnrvav/image/upload/v1738993559/b5hkrjn6hmjkfucyhsxw.jpg);
//   border-radius: 10px;
//   overflow: hidden;
//   padding: 0;
// }
.contenido {
    background: linear-gradient( to right, rgba(200, 200, 200, 0.63), rgba(190, 178, 178, 0.7), rgba(247, 245, 250, 0.6), rgba(207, 207, 207, 0.5));
    color: white;
    border-radius: 0; /* Elimina el borde redondeado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%; /* Ocupa todo el contenedor */
}

.texto {
    max-width: 600px;
    padding: 20px; /* Agrega algo de espacio para que el texto no esté pegado */
}

.texto h2 {
    font-size: 40px;
    margin: 0;
}

.texto p {
    font-size: 25px;
    margin: 10px 0;
}

.boton {
    background: #fff;
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
}

.gif {
    width: 180px;
    height: auto;
    // align-self: display: flex;
    justify-content: center;
    align-items: center;; /* Alinea el GIF en la parte inferior */
}
