<!-- <p-dialog
  [style]="{ width: '80vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="mostrarModalAddVestido"
  (onHide)="cerrar()"
>
  <ng-template pTemplate="header">
    <h2>Agregar Vestido</h2>
  </ng-template> -->

  <form
    class="form-container"
    enctype="multipart/form-data"
    [formGroup]="productoForm"
  >
    <div class="image-section">
      <div class="img-principal">
        <label for="imagenPrincipalInput" class="upload-button">
          {{
            productoForm.get("imagenPrincipal")?.value ? "Cambiar" : "Cargar"
          }}
          imagen
        </label>
        <div
          *ngIf="productoForm.get('imagenPrincipal')?.value"
          class="main-image"
        >
          <img
            [src]="productoForm.get('imagenPrincipal')?.value"
            alt="Imagen principal"
          />
          <div class="icons-bn">
            <i
              (click)="eliminarImagenPrincipal()"
              class="pi pi-times delete-icon"
            ></i>
          </div>
        </div>
        <input
          id="imagenPrincipalInput"
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
      </div>

      <div class="otrasImagenes" formArrayName="otrasImagenes">
        <div
          *ngFor="let imagen of otrasImagenes.controls; let i = index"
          class="additional-images"
        >
          <div>
            <img
              *ngIf="imagen.value"
              [src]="imagen.value"
              alt="Imagen adicional {{ i + 1 }}"
            />
          </div>
          <input
            accept="image/*"
            [id]="'otrasImagenesInput' + i"
            type="file"
            (change)="otrasImagenesChange($event, i)"
            hidden
          />
          <div class="icons-bn">
            <label [for]="'otrasImagenesInput' + i" class="upload-button">
              <i
                [ngClass]="imagen.value ? 'pi pi-sync' : 'pi pi-file-import'"
              ></i>
            </label>
            <i (click)="eliminarImagen(i)" class="pi pi-times delete-icon"></i>
          </div>
        </div>
      </div>

      <button type="button" (click)="agregarImagen()">
        Agregar más imágenes
      </button>
    </div>

    <div class="form-grid">
      <div class="group-input">
        <label>Nombre del vestido</label>
        <input
          type="text"
          formControlName="nombre"
          placeholder="Nombre del vestido"
        />
      </div>

      <div class="group-input">
        <label>Talla</label>
        <select formControlName="talla">
          <option *ngFor="let talla of tallas" [value]="talla">
            {{ talla }}
          </option>
        </select>
      </div>

      <div class="group-input">
        <label>Altura (cm)</label>
        <input
          type="number"
          formControlName="altura"
          placeholder="Altura (cm)"
        />
      </div>

      <div class="group-input">
        <label>Cintura (cm)</label>
        <input
          type="number"
          formControlName="cintura"
          placeholder="Cintura (cm)"
        />
      </div>

      <div class="group-input">
        <label>Color</label>
        <select formControlName="color">
          <option *ngFor="let color of colores" [value]="color">
            {{ color }}
          </option>
        </select>
      </div>

      <div class="group-input">
        <label>Textura (opcional)</label>
        <input
          type="text"
          formControlName="textura"
          placeholder="Textura (opcional)"
        />
      </div>

      <div class="group-input">
        <label>Ingrese el precio</label>
        <input
          type="number"
          formControlName="precio"
          placeholder="Ingrese el precio"
        />
      </div>

      <div class="group-input">
        <label>Tipo de Venta</label>
        <select formControlName="tipoVenta">
          <option *ngFor="let tipo of tiposVenta" [value]="tipo">
            {{ tipo }}
          </option>
        </select>
      </div>

      <div class="group-input">
        <label>Estado del producto</label>
        <select formControlName="nuevo">
          <option *ngFor="let estado of estadoProducto" [value]="estado">
            {{ estado }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <label>Descripción</label>
      <textarea
        formControlName="descripcion"
        placeholder="Agrega la descripción"
        rows="5"
        cols="30"
      ></textarea>
    </div>

    <button class="submit-btn" (click)="onAgregarProducto()">
      Agregar Producto
    </button>
  </form>
<!-- </p-dialog> -->
