/* Contenedor principal */
.form-container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;

    .group-input{
      display: grid; /* Habilita el grid en el contenedor */
      grid-template-columns: repeat(4, 1fr); /* Dos columnas de igual tamaño */
      gap: 10px; /* Espacio entre los elementos del grid */
      // display: flex;
      flex-direction: row;
    }
}

/* Títulos */
.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos generales para inputs y select */
.form-container input[type="text"],
.form-container input[type="number"],
.form-container select{
  // width: 50%;
  gap: 10px;
  // display: g;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 10px;
}
.form-container textarea {
  width: 100%;
}
.form-container select {
    appearance: none;
    background-color: #f9f9f9;
    padding-right: 20px;
}
.icons-bn{
  display: flex;
  flex-direction: row;
  gap: 40px;
justify-content: space-between;
}
.upload-button {
  display: inline-flex; /* Asegura que el contenido esté en línea y centrado */
  align-items: center; /* Centra verticalmente el ícono */
  cursor: pointer; /* Cambia el cursor a pointer al pasar el mouse */
  margin-right: 10px; /* Espacio entre el ícono de carga y el ícono de eliminar */
}

.delete-icon {
  cursor: pointer; /* Cambia el cursor a pointer al pasar el mouse */
  color: red; /* Cambia el color del ícono de eliminar si lo deseas */
  font-size: 1.5rem; /* Ajusta el tamaño del ícono de eliminar */
}

.img-principal{
    display: flex;
    flex-direction: column;
}
.otrasImagenes{
    display: flex;
    flex-direction: row;
    .additional-images{
        display: flex;
        flex-direction: column;

    }
}

/* Contenedor de las imágenes */
.image-section {
    display: flex;
    gap: 20px;
}

.main-image,
.additional-images {
    border: 1px dashed #526777;
    padding: 10px;
    text-align: center;
    width: 150px;
    // height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-image img,
.additional-images img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Hace que la imagen se escale y cubra el contenedor */
  object-position: center; /* Centra la imagen */
}
.main-image {
    width: 200px;
    height: 200px;
}

/* Botón cargar imagen */
.image-section button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.image-section button:hover {
    background-color: #ddd;
}

/* Botones de eliminar imagen adicional */
.additional-images button.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* Estilo de la sección de color y talla */
.select-section {
    display: flex;
    gap: 20px;
}

.select-section label {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Área de descripción */
textarea {
    resize: none;
    height: 80px;
}

/* Botón enviar */
.submit-btn {
    background-color: #8d855a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #666;
    // cursor: not-allowed; /* Cambia esto si quieres que sea activo */
    border-radius: 5px;
}
