<p-dialog
  [style]="{ width: '80vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="mostrarModalAddVestido"
  (onHide)="cerrar()"
>
  <ng-template pTemplate="header">
    <h2>Agregar Vestido</h2>
  </ng-template>

  <form
    class="form-container"
    enctype="multipart/form-data"
    [formGroup]="productoForm"
  >
    <!-- <h2>Agregar vestido</h2> -->
    <div class="image-section">
      <!-- Imagen principal -->
      <div class="img-principal">
        <label for="imagenPrincipalInput" class="upload-button">
          {{
            productoForm.get("imagenPrincipal")?.value ? "Cambiar" : "Cargar"
          }}
          imagen
        </label>

        <div
          *ngIf="productoForm.get('imagenPrincipal')?.value"
          class="main-image"
        >
          <img
            [src]="productoForm.get('imagenPrincipal')?.value"
            alt="Imagen principal"
          />

          <div class="icons-bn">
            <i
              (click)="eliminarImagenPrincipal()"
              class="pi pi-times delete-icon"
            ></i>
          </div>

          <!-- Ícono para eliminar la imagen -->
          <!-- <button
            type="button"
            (click)="eliminarImagenPrincipal()"
            class="delete-button"
          >
            <i class="pi pi-times"></i> -->
          <!-- Ícono de PrimeIcons para eliminar -->
          <!-- </button> -->
        </div>

        <!-- FormControl para la imagen principal -->
        <input
          id="imagenPrincipalInput"
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
      </div>

      <!-- Sección para las imágenes adicionales -->
      <div class="otrasImagenes" formArrayName="otrasImagenes">
        <div
          *ngFor="let imagen of otrasImagenes.controls; let i = index"
          class="additional-images"
        >
          <div>
            <img
              *ngIf="imagen.value"
              [src]="imagen.value"
              alt="Imagen adicional {{ i + 1 }}"
            />
          </div>

          <input
            accept="image/*"
            [id]="'otrasImagenesInput' + i"
            type="file"
            (change)="otrasImagenesChange($event, i)"
            hidden
          />
          <div class="icons-bn">
            <label [for]="'otrasImagenesInput' + i" class="upload-button">
              <i
                [ngClass]="imagen.value ? 'pi pi-sync' : 'pi pi-file-import'"
              ></i>
            </label>

            <i (click)="eliminarImagen(i)" class="pi pi-times delete-icon"></i>
          </div>
        </div>
      </div>

      <!-- Botón para agregar más imágenes -->
      <button type="button" (click)="agregarImagen()">
        Agregar más imágenes
      </button>
    </div>

    <!-- Otros campos del formulario -->
    <div class="group-input">
      <input
        type="text"
        placeholder="Nombre del vestido"
        formControlName="nombre"
      />
      <select formControlName="talla">
        <option value="" disabled selected>Selecciona una talla</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
        <option value="Otro">Otro</option>
      </select>

      <input type="number" placeholder="Altura (cm)" formControlName="altura" />
      <input
        type="number"
        placeholder="Cintura (cm)"
        formControlName="cintura"
      />

      <!-- <div class="select-section"> -->
      <!-- <div> -->
      <!-- <label>Seleccionar color</label> -->
      <!-- Agrega más colores si es necesario -->
      <select formControlName="color">
        <option value="" disabled>Selecciona un color</option>
        <option value="azul">Azul</option>
        <option value="rojo">Rojo</option>
        <option value="verde">Verde</option>
        <option value="negro">Negro</option>
        <option value="blanco">Blanco</option>
        <option value="amarillo">Amarillo</option>
        <option value="morado">Morado</option>
      </select>

      <!-- </div> -->
      <select formControlName="categoria">
        <option value="venta">Venta</option>
        <option value="renta">Renta</option>
      </select>

      <!-- <div>
      </div> -->
      <!-- <label>Categoría</label> -->
    </div>

    <!-- Campos adicionales -->
    <div class="group-input">
      <input
        type="text"
        placeholder="Textura (opcional)"
        formControlName="textura"
      />
      <input
        type="number"
        placeholder="Ingrese el precio"
        formControlName="precio"
      />
      <!-- <label>Disponible:</label> -->
      <!-- <input type="checkbox" formControlName="disponible" /> -->
      <!-- <label>Tipo de Venta:</label> -->
      <select formControlName="tipoVenta">
        <option value="" disabled>Selecciona Tipo de Venta</option>

        <option>Venta</option>
        <option>Renta</option>
      </select>
      <!-- <label>Estado del producto:</label> -->
      <select formControlName="nuevo">
        <option value="" disabled>Es nuevo?</option>
        <option [value]="true">Sí</option>
        <option [value]="false">No</option>
      </select>
    </div>
    <!-- Opciones adicionales -->
    <div>
      <textarea
        placeholder="Agrega la descripción"
        formControlName="descripcion"
      ></textarea>
    </div>

    <button class="submit-btn" (click)="onAgregarProducto()">
      Agregar Producto
    </button>
  </form>
</p-dialog>
