<p-dialog
  [style]="{ width: '80vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="mostrarModalAddVestido"
  (onHide)="cerrar()"
>
  <ng-template pTemplate="header">
    <h2>Agregar Vestido</h2>
  </ng-template>

  <form
    class="form-container"
    enctype="multipart/form-data"
    [formGroup]="productoForm"
  >
    <div class="image-section">
      <div class="img-principal">
        <label for="imagenPrincipalInput" class="upload-button">
          {{
            productoForm.get("imagenPrincipal")?.value ? "Cambiar" : "Cargar"
          }}
          imagen
        </label>
        <div
          *ngIf="productoForm.get('imagenPrincipal')?.value"
          class="main-image"
        >
          <img
            [src]="productoForm.get('imagenPrincipal')?.value"
            alt="Imagen principal"
          />
          <div class="icons-bn">
            <i
              (click)="eliminarImagenPrincipal()"
              class="pi pi-times delete-icon"
            ></i>
          </div>
        </div>
        <input
          id="imagenPrincipalInput"
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
      </div>

      <div class="otrasImagenes" formArrayName="otrasImagenes">
        <div
          *ngFor="let imagen of otrasImagenes.controls; let i = index"
          class="additional-images"
        >
          <div>
            <img
              *ngIf="imagen.value"
              [src]="imagen.value"
              alt="Imagen adicional {{ i + 1 }}"
            />
          </div>
          <input
            accept="image/*"
            [id]="'otrasImagenesInput' + i"
            type="file"
            (change)="otrasImagenesChange($event, i)"
            hidden
          />
          <div class="icons-bn">
            <label [for]="'otrasImagenesInput' + i" class="upload-button">
              <i
                [ngClass]="imagen.value ? 'pi pi-sync' : 'pi pi-file-import'"
              ></i>
            </label>
            <i (click)="eliminarImagen(i)" class="pi pi-times delete-icon"></i>
          </div>
        </div>
      </div>

      <button type="button" (click)="agregarImagen()">
        Agregar más imágenes
      </button>
    </div>

    <div class="form-grid">
      <div class="group-input">
        <label>Nombre del vestido</label>
        <p-inputText formControlName="nombre" placeholder="Nombre del vestido"></p-inputText>
      </div>
    
      <div class="group-input">
        <label>Talla</label>
        <p-dropdown formControlName="talla" [options]="tallas" placeholder="Selecciona una talla"></p-dropdown>
      </div>
    
      <div class="group-input">
        <label>Altura (cm)</label>
        <p-inputNumber formControlName="altura" placeholder="Altura (cm)"></p-inputNumber>
      </div>
    
      <div class="group-input">
        <label>Cintura (cm)</label>
        <p-inputNumber formControlName="cintura" placeholder="Cintura (cm)"></p-inputNumber>
      </div>
    
      <div class="group-input">
        <label>Color</label>
        <p-dropdown formControlName="color" [options]="colores" placeholder="Selecciona un color"></p-dropdown>
      </div>
    
      <!-- <div class="group-input">
        <label>Categoría</label>
        <p-dropdown formControlName="categoria" [options]="categorias" placeholder="Selecciona una categoría"></p-dropdown>
      </div>
     -->
      <div class="group-input">
        <label>Textura (opcional)</label>
        <p-inputText formControlName="textura" placeholder="Textura (opcional)"></p-inputText>
      </div>
    
      <div class="group-input">
        <label>Ingrese el precio</label>
        <p-inputNumber formControlName="precio" placeholder="Ingrese el precio"></p-inputNumber>
      </div>
    
      <div class="group-input">
        <label>Tipo de Venta</label>
        <p-dropdown formControlName="tipoVenta" [options]="tiposVenta" placeholder="Selecciona Tipo de Venta"></p-dropdown>
      </div>
    
      <div class="group-input">
        <label>Estado del producto</label>
        <p-dropdown formControlName="nuevo" [options]="estadoProducto" placeholder="Es nuevo?"></p-dropdown>
      </div>
    </div>
    
    <div>
      <label>Descripción</label>
      <p-inputTextarea
        placeholder="Agrega la descripción"
        formControlName="descripcion"
        rows="5"
        cols="30"
      ></p-inputTextarea>
    </div>

    <button class="submit-btn" (click)="onAgregarProducto()">
      Agregar Producto
    </button>
  </form>
</p-dialog>
