<!-- <body> -->
    <header class="app-header">
        <nav class="navbar-second flex" >
          <div >
            <!-- <span class="logo-text">Atelier  </span> -->
            <a [routerLink]="'/public/inicio'">
              <span class="logo-text">Atelier  </span>
            </a>
          </div>
        </nav>
      </header>
      
  
      <!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->
      
      <!-- <app-results [buscar]="searchQuery"></app-results> -->
      
     