nav {
  padding: 0 50px;
  width: 100%;
}

.counter-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  .pi {
    font-size: 14px; // Adjust size of the calendar icon
    color: #555; // Icon color
  }

  .counter-badge {
    position: absolute;
    top: -5px; // Position the badge at the top-right corner
    right: -5px;
    background-color: #ff5722; // Badge background color
    color: #fff; // Badge text color
    font-size: 8px;
    width: 102%;
    height: 16px; // Text size
    font-weight: bold;
    padding: 2px 6px; // Padding around the text
    border-radius: 50%; // Make it circular
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Optional shadow for better visibility
    display: flex; // Center the text vertically and horizontally
    justify-content: center;
    align-items: center;
  }
}

#connection-status {
  width: 100%;
  height: 15px;
  background: rgb(255, 37, 37); // Fondo rojo para indicar error
  text-align: center;
  position: relative;
  color: white; // Texto en blanco para mejor contraste
  font-weight: bold;
  display: none; // Oculto por defecto
}

// #marquee {
//   animation: marquee-ani 5s linear infinite;
// }

// // Animación opcional si quieres que el texto se mueva
// @keyframes marquee-ani {
//   from { transform: translateX(100%); }
//   to { transform: translateX(-100%); }
// }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marquee-container {
  text-align: center;
}

.titulo {
  font-size: 40px;
  font-weight: bold;
}

.marquee-container {
  width: 100%;
  display: flex;
  height: 20px;
  background: linear-gradient(90deg, #fffbd8, #ffc7df, #ffb5d0, #ffb9dc, #fff1db);
  filter: brightness(1.05);

  // border-bottom: 1px solid #efe9e3;
  text-align: center;
  position: relative;
}

.marquee,
.marquee1 {
  font-size: 12px;
  color: #ff4589;
  /* Texto blanco */
  font-weight: bold;
  opacity: 0;
  position: absolute;
  width: 100%;
  animation: showHide 9s infinite;
}

.marquee1 {
  font-size: 12px;
  // color: #ffffff; /* Color llamativo */
  font-weight: bold;
  opacity: 0;
  position: absolute;
  width: 100%;
  // border: dashed;
  animation: showHide 3s infinite;
}

#item2 {
  animation-delay: 3s;
  /* Muestra el segundo después de 3s */
}

#item3 {
  animation-delay: 6s;
  /* Muestra el tercero después de 6s */
}

@keyframes showHide {
  0% {
    opacity: 0;
  }

  10%,
  30% {
    opacity: 1;
  }

  40%,
  100% {
    opacity: 0;
  }
}

.nav-one {
  // display: none;
  // background:#f2ede8;
  background: #fffcf9;
  // background:#f2ede8;

  // background: var(--style-navbar-second);
}

.navbar-one {
  // display: none;
  color: var(--text-style-color);
  height: 20px;
  display: none;

  .right>div {
    cursor: pointer;

    // border: dashed red;
    &.facebook {
      color: #3b5998;
    }

    &.twitter {
      color: #1da1f2;
    }

    &.instagram {
      color: #e1306c;
    }
  }
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #23272c;
  text-transform: uppercase;
  /* Convertir texto en mayúsculas */
  letter-spacing: 2px;
  /* Separación entre letras */
  text-shadow: 2px 2px 4px rgba(255, 113, 215, 0.655),
    /* Sombra rosa */
    -2px -2px 4px rgba(255, 239, 114, 0.812);
  /* Sombra amarilla */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Opcional: Si quieres mantener las clases de visibilidad */
.logo-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.logo-text:not(.visible) {
  opacity: 0;
  transform: translateY(-10px);
}

header.app-header {
  background-color: transparent;
  box-shadow: 0 4px 8px #e7e7e79a;
  width: 100%;
}

.left>div+div {
  margin-left: 40px;
}

.right>div {
  margin-left: 40px;
}

.left>div:hover,
.right>div:hover {
  color: #000;
  transition: all 0.5s;
}

span {
  margin-left: 35px;
}

/* Hacemos que la segunda barra sea sticky */
.navbar-second {
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #faf7f7f0;
  // background-color: white;
  // transition: transform 0.3s ease, background-color 0.3s ease;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.custom-header {
  justify-content: center;
  display: flex;
}

li {
  list-style: none;
}

p-sidebar {
  .menu-content {
    padding: 20px;

    ul {
      list-style: none;
      /* Elimina los puntos de la lista */
      padding: 0;

      li {
        margin-bottom: 30px;

        a {
          text-decoration: none;
          font-size: 14px;
          color: #fa82ae;
          font-weight: bold;

          display: flex;
          align-items: center;

          i {
            // -webkit-text-stroke: 1px rgb(255, 173, 115);
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/* ✅ Mantiene el estilo del header sticky */
.sticky {
  top: 0;
  z-index: 10;
  width: 100%;
  position: fixed !important;
  background-color: white !important;
  // background-color: white !important;
  backdrop-filter: blur(3px);
  border: solid 1px #faf7f7;
  // transition: background-color 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Sombra sutil al hacer scroll

  // transform: translateY(60px); /* Aparece suavemente */
}

/* ✅ Ajusta la animación del logo */
.logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  

  a {
    display: flex;
    align-items: center;
    position: relative;
  }

  img {
    position: initial;
    top: 0;
    left: 0;
    width: auto;
    height: 40px;
    border-radius: 20%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0.8);
  }

  .visible {
    opacity: 1;
    transform: scale(1);
  }
}

:host ::ng-deep .content-all {
  padding-top: 40px;
}

.nav-menu {
  display: flex;
  padding: 0 2px;
}

.nav-menu li {
  a {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 50px;
    color: #ee66a6;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    
    &:hover {
      color: #ec4090;
      
      &::after {
        transform: scaleX(1);
      }
    }
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 15px;
      right: 15px;
      height: 2px;
      background-color: #ec4090;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }
  }
}

.nav-accion {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-accion li {
  color: var(--color-text);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-right: 30px;
}

.nav-icon {
  position: relative;
  display: inline-block;
}

.muestra-opciones-user li {
  padding: 5px;
  margin: 0;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.3em;

  i {
    margin-left: 5px;
    margin-right: 10px;

    &:hover {
      color: none;
    }
  }
}

// .muestra-opciones-user li:hover {
//   color: var(--opciones);
//   font-weight: bold;
//   background-color: var(--color-by);
//   border-radius: 4px;
//   i {
//     color: none;
//     transform: none;
//   }
// }

@media (max-width: 600px) {
  .logo {
    // border: dashed 1px #333; // Borde punteado
    padding: 5px 10px; // Reducir padding para pantallas pequeñas
    height: auto; // Asegurarse de que la altura se ajuste automáticamente

    img {
      height: 25px; // Reducir la altura de la imagen para pantallas pequeñas
    }
  }



  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
    // background: var(--style-footer);
    // box-shadow: 0 2px 5px #ebe3db7a;
    transition: background-color 0.5s ease;
  }

  .nav-one {
    background: none;
  }

  span {
    margin-left: 0px;
  }

  .nav-menu {
    display: none;
  }

  .left>div+div {
    display: flex;
  }

  .navbar-one {
    padding: 0 25px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
  }

  nav {
    padding: 0 0px;
    width: 100%;
  }

  .navbar-second {
    padding: 0 0px;
    margin-left: 0px;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;

    .nav-accion {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 0px;
      margin-right: 0px;
      gap: 10px;

      li {
        display: inline-block;
        margin-right: 0px;

        i {
          font-size: 18px;
          padding: 10px;
        }
      }
    }
  }
}

.ui.menu .browse.item {
  cursor: pointer;
}

.ui.popup.transition.hidden {
  display: none;
}

.ui.popup.transition {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

// !mejorar el diseño del input de busqueda
// .ui.input {
// font-size: 1em;
// width: 202%;
// border: dashed;
// }

.search-btn {
  // border: solid 1px #323232;

  // background-color: #f5f5f5 !important;
}



// ccccccccccccccccc
.suggestions-list {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 5px;
  margin: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: #f0f0f0;
}