<!-- <body> -->
<header class="app-header" [ngClass]="{ scrolled: isScrolled }">
  <!-- <nav> -->
  <nav
    class="marquee-container"
    id="connection-exit"
    style="text-align: center"
  >
    <div class="marquee" id="item1">✨ ¡My happyyy place! ✨</div>
    <div class="marquee" id="item2">🔥 ¡Aprovecha ahora! 🔥</div>
    <div class="marquee" id="item3">✨¡Elige a tu gusto !✨</div>
  </nav>

  <nav class="marquee-container" id="connection-status">
    <div class="marquee1">No hay conexión a Internet</div>
  </nav>

  <!-- </nav> -->
  <nav class="nav-one">
    <nav class="navbar-one flex">
      <div class="left flex">
        <div class="email">
          <i class="fa fa-map-marker-alt"></i>
        </div>
        <div class="call">
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>
      <div class="right flex">
        <div class="facebook">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="instagram">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </nav>
  </nav>
  <nav class="navbar-second flex" [ngClass]="{ sticky: isSticky }">
    <div class="logo">
      <a [routerLink]="'/public/inicio'">
        <img   *ngIf="isSticky"
          src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730395938/images-AR/wyicw2mh3xxocscx0diz.png"
          alt="logo sticky"
          class="logo1 logo-sticky"
          [ngClass]="{ visible: isSticky }"
        />
        

        <span  *ngIf="!isSticky" class="logo-text" [ngClass]="{ visible: !isSticky }">Atelier Hgo </span>
        
      </a>
    </div>

    <ul *ngIf="!isMobile" class="nav-menu flex">
      <li><a (click)="redirectTo('search')">Productos</a></li>
      <li><a (click)="redirectTo('AcercaDe')">Acerca de nosotros</a></li>
      <li><a (click)="redirectTo('Servicios')">Servicios</a></li>
      <!-- <li><a (click)="redirectTo('terminos')">Términos y condiciones</a></li> -->
      <!-- <li><a (click)="redirectTo('politicas')">Políticas de privacidad</a></li> -->

    </ul>

    <ul class="nav-accion">
      <!-- Versión Web -->
      <!-- <li>
        <div class="ui action input" *ngIf="!isMobile">
          <input
            type="text"
            placeholder="Buscar en Atelier..."
            [(ngModel)]="searchQuery"
            (keyup.enter)="onSearch()"
          />
          <button class="ui icon button search-btn" (click)="onSearch()">
            <i *ngIf="!isLoading" class="search icon"></i>
            <i *ngIf="isLoading" class="spinner loading icon"></i>
          </button>
        </div>
      </li> -->
      <!-- Versión Móvil -->
      <li>
        <div class="ui search" [ngClass]="{ loading: isLoading }">
          <div class="ui icon input">
            <input
              class="prompt"
              type="text"
              placeholder="Buscar en atelier..."
              [(ngModel)]="searchQuery"
              (keyup.enter)="onSearch()"
            />
            <i class="search icon" (click)="onSearch()"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="counter-container" (click)="redirectTo('CitasProbador')">
          <i class="pi pi-calendar"></i>
          <span class="counter-badge"
            ><strong>{{ dressItems.length }}</strong></span
          >
        </div>
      </li>
      <li class="IsMobile" *ngIf="!isMobile">
        <ng-container *ngIf="!isLoggedIn; else userMenu">
          <!-- <a tabindex="0" (click)="openModal()"> -->
          <i class="pi pi-user" (click)="openModal()"></i>
          <!-- </a> -->
        </ng-container>

        <ng-template #userMenu>
          <div class="ui pointing dropdown">
            <div class="ui grid">
              <div class="row">
                <div class="column">
                  <i class="pi pi-user"></i>
                </div>
                   Mi cuenta
                <div class="column">
                  <i class="dropdown icon"></i>
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="item" (click)="redirectTo('Mi-perfil')">
                <i class="pi pi-user"></i> Mi perfil
              </div>
              <div class="item" (click)="redirectTo('Compras')">
                <i class="pi pi-cog"></i> Compras
              </div>
              <div class="item" (click)="logout()">
                <i class="pi pi-sign-out"></i> Cerrar sesión
              </div>
            </div>
          </div>
        </ng-template>
        
        
      </li>

      <li *ngIf="isMobile">
        <i (click)="showDialog()" class="fa-solid fa-bars-staggered"></i>
      </li>
    </ul>
  </nav>
</header>

<!-- <body> -->
<p-sidebar
  *ngIf="isMobile"
  [(visible)]="sidebarVisible"
  position="left"
  styleClass="w-30rem"
>
  <ng-template pTemplate="header" style="justify-content: center">
    <!-- <span class="font-semibold text-xl">Atelier</span> -->
    <img
      style="weight: 25px; height: 25px; margin-right: 30px; margin-left: 30px"
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730313785/images-AR/ic5srzm6tzqyrosaexan.png"
      alt=""
      srcset=""
    />
  </ng-template>

  <!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->
  <div class="menu-content">
    <ul>
      <li>
        <a tabindex="0" (click)="redirectTo('inicio')">
          <i class="pi pi-home"></i> Home
        </a>
      </li>
      <li
        *ngFor="let item of items"
        (click)="item.command ? item.command({ originalEvent: $event }) : null"
      >
        <i [class]="item.icon"></i> {{ item.label }}
      </li>
      <!-- <li>
        <a tabindex="0" (click)="redirectTo('Sign-in')">
          <i class="pi pi-sign-in"></i> Iniciar sesión
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Sign-up')">
          <i class="pi pi-user-plus"></i> Registrarme
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Config')">
          <i class="pi pi-cog"></i> Configuración
        </a>
      </li> -->
      <!-- <li>
        <a tabindex="0" (click)="redirectTo('AcercaDe')">
          <i class="pi pi-info-circle"></i> Acerca de Atelier
        </a>
      </li> -->
    </ul>
  </div>
  <ng-template #footer>
    <div class="flex items-center gap-2">
      <button
        pButton
        label="Account"
        icon="pi pi-user"
        class="w-full"
        outlined
      ></button>
      <button
        pButton
        label="Logout"
        icon="pi pi-sign-out"
        class="w-full"
        severity="danger"
        text
      ></button>
    </div>
  </ng-template>
  <!-- Mango para redimensionar -->
</p-sidebar>

<!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->

<!-- <app-results [buscar]="searchQuery"></app-results> -->

<!-- Modal de inicio de sesión -->
<app-login-modal
  *ngIf="isModalVisible"
  [isModalVisible]="isModalVisible"
  (mostrarFormulario)="cerrarModal($event)"
></app-login-modal>
