<!-- <pre>{{ politicas | json }}</pre> -->

<ng-container *ngIf="politicas?.length > 0; else elseTemplate">
  <div data-aos="zoom-in-right" class="article-container">
    <!-- Título principal "Políticas" -->
    <h1 class="politicas-title">Políticas</h1>

    <div *ngFor="let politica of politicas" class="card">
      <h2 class="title">{{ politica.titulo }}</h2>
      <p class="subtitle">{{ politica.contenido }}</p>
      <!-- <div class="meta-info">
        <p>Versión: <span class="version">{{ politica.version }}</span></p>
        <p>Estado: <span class="status">{{ politica.estado }}</span></p>
      </div> -->
    </div>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <p class="fallback-message">Consulte con el administrador para más información.</p>
</ng-template>

