<div class="contenedor-compras">
  <!-- <pre>{{ bolsaDeCompras | json }}</pre> -->
  <!-- Bolsa de Compras -->
  <div class="bolsa-de-compras">
    <h2>Bolsa de Compras</h2>
    <!-- Buscador -->
    <div class="ui center aligned container">
      <div class="ui action input">
        <input
          type="text"
          placeholder="Buscar producto..."
          [(ngModel)]="searchTerm"
        />
        <button class="ui button">Buscar</button>
      </div>
    </div>
    <div class="producto" *ngFor="let venta of bolsaDeCompras">
      <div class="detalles">
        <div class="ui grid">
          <div class="four wide column">
            <p>Fecha de Compra: {{ venta.fechaCompra | date: "shortDate" }}</p>
          </div>
          <div class="four wide column">
            <p>Estado: {{ venta.estado }}</p>
          </div>
        </div>
        <div *ngFor="let producto of venta.productos">
          <h3>{{ producto.nombre }}</h3>
          <p>Precio: ${{ producto.precio }}</p>
          <p>Cantidad: {{ producto.cantidad }}</p>

          <p>Total: ${{ producto.total }}</p>
          <img
            *ngIf="producto.imagen"
            [src]="producto.imagen"
            [alt]="producto.nombre"
          />
          <!-- Botón PrimeNG para ver detalles -->
          <p-button
            label="Ver detalles del producto"
            (click)="verDetalles(producto._id)"
          ></p-button>
          <p-button label="Ver Detalles de la compra" variant="text"  [ngStyle]="{'color': 'blue'}"></p-button>

        </div>
      </div>
      <div class="estado-recogida">
        <p class="estado {{ venta.estado }}">{{ venta.estado }}</p>
        <ng-container *ngIf="venta.isRecogido; else elseTemplate">
          <p class="recogida">Recogido en tienda</p>
        </ng-container>
        <ng-template #elseTemplate>
          <p class="recogida pendiente">Pendiente en recoger</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
