<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Vestidos</h2>
      <p-table 
        [value]="vestidos" 
        [(selection)]="selectedVestido" 
        [paginator]="true" 
        [rows]="5" 
        selectionMode="single"
        dataKey="_id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
          </tr>
        </ng-template>
  
        <ng-template let-vestido pTemplate="body">
          <tr [pSelectableRow]="vestido">
            <td>
              <p-tableRadioButton [value]="vestido"></p-tableRadioButton>
            </td>
            <td>
              <img [src]="vestido.imagenPrincipal" alt="{{ vestido.nombre }}" class="vestido-img rounded">
            </td>
            <td>{{ vestido.nombre }}</td>
            <td>${{ vestido.precio }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  
   
    <div class="col-md-6">
      <h2>Accesorios Disponibles</h2>
      <div class="accesorios-container" cdkDropList id="accesorios-disponibles" [cdkDropListConnectedTo]="['accesorios-asignados']" [cdkDropListData]="accesoriosDisponibles" (cdkDropListDropped)="drop($event)">
        <div class="accesorio-item" cdkDrag *ngFor="let accesorio of accesoriosDisponibles">
          <img [src]="accesorio.imagenPrincipal" alt="Imagen de {{ accesorio.nombre }}" class="accesorio-img rounded">
          <span>{{ accesorio.nombre }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Accesorios Asignados</h2>
      <div class="accesorios-container" cdkDropList id="accesorios-asignados" [cdkDropListConnectedTo]="['accesorios-disponibles']" [cdkDropListData]="accesoriosAsignados" (cdkDropListDropped)="drop($event)">
        <div class="accesorio-item" cdkDrag *ngFor="let accesorio of accesoriosAsignados">
          <img [src]="accesorio.imagenPrincipal" alt="Imagen de {{ accesorio.nombre }}" class="accesorio-img rounded">
          <span>{{ accesorio.nombre }}</span>
        </div>
      </div>
    </div>
    
  </div>
  <div>
   <button class="btn btn-primary btn-rounded" (click)="guardarAccesorios()">Guardar Accesorios</button>
 </div>
</div>
