<div class="container">
  <div class="contenido">
    <!-- Formulario a la izquierda -->
    <div class="formulario-renta">
      <h2>Formulario de Renta</h2>
      <form #rentaForm="ngForm" (ngSubmit)="onSubmit()" class="renta-form">
        <div class="form-row">
          <div class="form-group">
            <label for="arrendador">Arrendador</label>
            <input type="text" id="arrendador" name="arrendador" [(ngModel)]="arrendador" required />
          </div>
          <div class="form-group">
            <label for="arrendatario">Arrendatario</label>
            <input type="text" id="arrendatario" name="arrendatario" [(ngModel)]="arrendatario" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="fechaInicio">Fecha de Inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required />
          </div>
          <div class="form-group">
            <label for="fechaFin">Fecha de Fin</label>
            <input type="date" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="direccionInmueble">Dirección del Inmueble</label>
            <input type="text" id="direccionInmueble" name="direccionInmueble" [(ngModel)]="direccionInmueble" required />
          </div>
          <div class="form-group">
            <label for="montoRenta">Monto de la Renta</label>
            <input type="number" id="montoRenta" name="montoRenta" [(ngModel)]="montoRenta" required />
          </div>
        </div>

        <button type="submit" [disabled]="!rentaForm.valid" class="btn-generar-contrato">
          Generar Contrato
        </button>
      </form>
    </div>

    <!-- Detalles a la derecha -->
    <div class="detalles-producto card">
      <h2>Producto seleccionado</h2>
      <div *ngIf="!isLoading && Detalles" class="producto-detalles">
        <div class="producto-imagen">
          <img [src]="Detalles.imagenPrincipal" alt="{{ Detalles.nombre }}" />
        </div>
        <div class="info">
          <p><strong>ID:</strong> {{ Detalles.id }}</p>
          <p><strong>Nombre:</strong> {{ Detalles.nombre }}</p>
          <p><strong>Precio	:</strong> {{ Detalles.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
