.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.contenido {
  background: white;
  border-radius: 5px;
  display: flex;
  width: 84%;
}

.producto-detalles {
  width: 70%;
  padding: 40px;
  border: solid 1px #ddd;
}

.detalles-producto {
  display: flex;
  width: 50%;
  max-width: 1200px;
}

.custom-button {
  border: 2px solid #2185d0; /* Azul de Semantic UI */
  background-color: white; /* Fondo blanco */
  color: #2185d0; /* Color de texto azul */
  
  &:hover {
    background-color: #f1f1f1; /* Fondo blanco al pasar el ratón */
    color: #2185d0; /* Color de texto azul al pasar el ratón */
  }
}

.card {
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  text-align: start;
  width: 70%;
}

.producto-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.producto-imagen img {
  width: 120px;
  height: 120px;
}

.formulario-renta {
  width: 130%;
  max-width: 1200px;
  padding: 20px;
  margin-right: 20px;
  flex: 1;
}

.form-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #868282;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.btn-generar-contrato {
  width: 50%;
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  background-color: #1e1e1e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-generar-contrato:hover {
  background-color: #393939;
}

.info {
  margin-bottom: 10px;
  font-size: 16px;
  color: #63676f;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-direction: row;
  gap: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  border-bottom: solid 1px #ddd;
}

.info-row.precio {
  color: #454648;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

.nombre {
  font-size: 24px;
}