<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Dashboard</h2>
    <p-button
      label="Descargar Reporte (PDF)"
      icon="pi pi-file-pdf"
      (click)="descargarReporte()"
    ></p-button>
  </div>

  <div class="dashboard-filters">
    <label for="month">Mes:</label>
    <select id="month" [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months" [value]="month.value">
        {{ month.name }}
      </option>
    </select>

    <label for="year">Año:</label>
    <select id="year" [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <button (click)="filtrarDatos()">Filtrar</button>
  </div>

  <div class="dashboard-content">
    <!-- Tarjetas de métricas -->
    <div class="cards">
      <div class="card">
        <h3>Ubicación de Clientes Más Frecuentes</h3>
        <p-chart type="radar" [data]="radarChartData"></p-chart>
      </div>

      <div class="card">
        <h3>Distribución de Compras y Rentas</h3>
        <p-chart type="doughnut" [data]="comprasRentasData"></p-chart>
      </div>

      <div class="card">
        <h3>Clasificación De Los Vestidos Más Vendidos</h3>
        <p-chart type="pie" [data]="productosMasVendidosData"></p-chart>
      </div>
      <div class="chart">
        <h3>Ubicación de Clientes Más Frecuentes - Rentas y Ventas</h3>
        <p-chart type="radar" [data]="radarChartDataVentaRenta"></p-chart>
      </div>
    </div>

    <!-- Gráficas -->
    <div class="charts">
      <div class="chart">
        <h3>Ventas y Rentas Mensuales</h3>
        <p-chart type="bar" [data]="barChartData"></p-chart>
      </div>

    </div>
  </div>
</div>
