<div class="container-card">
  <h2 class="accessory-message">Elegancia y estilo</h2>
  <!-- Tarjeta 1 -->
  <div class="card-hero">
    <img
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1740548954/images-AR/kbvvxf2v2wx7g2ac3qgg.jpg"
      alt="Vestido Elegante"
      class="card-img"
    />
    <div class="card-text">
      <h2>
        Descubre la esencia de la elegancia con nuestro exclusivo vestido.
      </h2>

      <p>
        Cada pliegue y cada detalle han sido diseñados para resaltar tu belleza
        única. Imagina deslizarte en un evento, sintiendo cómo todas las miradas
        se posan en ti, admirando no solo el vestido, sino la confianza que
        emana de ti. Este no es solo un atuendo; es una declaración de estilo
        que transforma cada ocasión en un momento inolvidable. Atrévete a
        brillar.
      </p>
    </div>
  </div>

  <!-- Tarjeta 2 -->
  <div class="card-hero reverse">
    <img
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1740548944/images-AR/ybxbjn512j1u1tba1sob.jpg"
      alt="Vestido Casual"
      class="card-img"
    />
    <div class="card-text">
      <h2>Redefine tu estilo con nuestro cautivador vestido.</h2>
      <p>
        Cada detalle ha sido meticulosamente diseñado para realzar tu silueta y
        resaltar tu personalidad. Imagina la sensación de ser el centro de
        atención en cada evento, mientras la sofisticación y el glamour te
        envuelven. Este vestido no es solo una prenda; es una experiencia que te
        invita a expresar tu verdadera esencia. Haz que cada momento cuente.
      </p>
    </div>
  </div>

  <div class="secciones">
    <!-- <section class="inspiracion">
    <h1>Inspiración y Novedades</h1>
 <p>
   Mantente al día con las últimas tendencias de diseño, los mejores consejos y mucho más. Aquí encontrarás contenido relevante y útil.
 </p>
 <div class="video-container">
   <video controls>
     <source src="video.mp4" type="video/mp4">
     Tu navegador no soporta la etiqueta de video.
   </video>
 </div>
</section> -->

    <!-- <section class="resenas">
 <h2>Reseñas de clientes</h2>
 <p>
   Según el éxito de las soluciones, las reseñas de los clientes ayudan a mejorar nuestro servicio y atender mejor a nuestras comunidades.
 </p>
 <div class="resenas-grid">
   <div class="resena">
     <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 1">
     <h3>Automatic processing</h3>
     <p>Descripción breve de la reseña del cliente.</p>
   </div>
   <div class="resena">
     <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 2">
     <h3>Automatic processing</h3>
     <p>Descripción breve de la reseña del cliente.</p>
   </div>
   <div class="resena">
     <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 3">
     <h3>Automatic processing</h3>
     <p>Descripción breve de la reseña del cliente.</p>
   </div>
 </div>
</section> -->

    <!-- </div> -->
    <section class="services">
      <h2>Nuestros Servicios</h2>
      <ul>
        <li>
          <strong>Renta y Venta de Vestidos:</strong> Exclusivamente en nuestra
          Boutique física con cita.
        </li>
        <li>
          <strong>Accesorios de Tendencia:</strong> Completa tu look con una
          gama de accesorios: Aretes, collares, bolsos, tacones, bronceador.
        </li>
      </ul>
    </section>

    <section>
      <header>
        <h1>¿Cómo rentar mi vestido?</h1>
      </header>

      <main>
        <section class="steps">
          <div class="step">
            <span class="icon">
              <i class="pi pi-whatsapp"></i>
              <!-- Icono de WhatsApp -->
            </span>
            <p>
              <strong>Visítanos en el local:</strong> Llámanos por WhatsApp o
              por nuestras Redes Sociales...
            </p>
            <!-- <button>Haz tu cita aquí</button> -->
          </div>

          <div class="step">
            <span class="icon">
              <i class="pi pi-home"></i>
              <!-- Icono de Selección -->
            </span>
            <p>
              <strong>¡Visítanos y Selecciona!</strong> Prueba los vestidos que
              más te gusten...
            </p>
          </div>

          <div class="step">
            <span class="icon">
              <i class="pi pi-check-circle"></i>
              <!-- Icono de Renta -->
            </span>
            <p><strong>¡Renta!</strong> Recoge y lleva el vestido...</p>
          </div>

          <div class="step">
            <span class="icon">
              <i class="pi pi-undo"></i>
              <!-- Icono de Devolución -->
            </span>
            <p>
              <strong>Devolución Fácil:</strong> Los vestidos se regresan...
            </p>
          </div>
        </section>

        <section class="delivery-option">
          <h2>¿No Tengo Tiempo De Recoger O Devolver El Vestido?</h2>
          <p>Por comodidad ofrecemos la opción de...</p>
          <ul>
            <li>Recogida y devolución: $150</li>
            <li>Horario de entrega: 4–5 pm.</li>
          </ul>
        </section>
      </main>
    </section>

    <section class="comentarios">
      <h2>Coméntanos</h2>
      <p>
        ¿Quieres compartir tu opinión o experiencia? ¡Envíanos tu comentario
        para ayudarnos a mejorar!👇
      </p>
      <form class="form-comentarios">
        <input type="text" placeholder="Ingresa tu nombre" required />
        <textarea placeholder="Comentario" rows="4" required></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section>
  </div>
</div>
