<p-toast></p-toast>

<div class="ui basic test modal">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Confirmar Eliminación
  </div>
  <div class="content">
    <p>¿Estás seguro de que deseas eliminar este producto?</p>
  </div>
  <div class="actions">
    <div class="ui red cancel inverted button">
      <i class="remove icon"></i>
      Cancelar
    </div>
    <div class="ui green ok inverted button" (click)="confirmarEliminar()">
      <i class="checkmark icon"></i>
      Confirmar
    </div>
  </div>
</div>

<section>
  <h1>{{ mostrarModalAddVestido ? 'Agregar Producto' : 'Lista de Productos' }}</h1>

  <button class="submit-btn" type="button" (click)="mostrarModalAddVestido ? cerrarModalHandler(false) : abrirModal()"
    [ngClass]="mostrarModalAddVestido ? 'p-button-secondary' : 'p-button-primary'">
    {{ mostrarModalAddVestido ? 'Cancelar' : 'Agregar Producto' }}
  </button>

  <app-registo-producto [productoEditar]="productoEditar" [mostrarModalAddVestido]="mostrarModalAddVestido"
    *ngIf="mostrarModalAddVestido" (mostrarFormulario)="cerrarModalHandler($event)"
    (onCancelar)="cerrarModal()">>
  </app-registo-producto>

  <p-table *ngIf="!mostrarModalAddVestido"
  #dt
  [value]="allProducts"
  selectionMode="single"
  dataKey="_id"
  [paginator]="true"
  [rows]="5"
  [totalRecords]="totalRecords"
  [first]="first"
  (onPageChange)="onPageChange($event)"
>
  <ng-template pTemplate="caption">
      <span class="p-input-icon-left">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
              pInputText
              style="width: 150%; padding-left: 20%"
              type="text"
              (input)="onGlobalFilter($event)"
              placeholder="Buscar producto..."
              [(ngModel)]="filterText"
          />
      </span>
  </ng-template>

  <ng-template pTemplate="header">
      <tr>
          <th>Imagen</th>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="categoria">Transacción<p-sortIcon field="opcionesTipoTransaccion"></p-sortIcon></th>
          <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon></th>
          <th pSortableColumn="precio">Color <p-sortIcon field="color"></p-sortIcon></th>
          <th pSortableColumn="disponible">Disponible <p-sortIcon field="disponible"></p-sortIcon></th>
          <th pSortableColumn="nuevo">Nuevo <p-sortIcon field="nuevo"></p-sortIcon></th>
          <th>Acciones</th>
      </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
      <tr>
          <td>
              <img [src]="product.imagenes[0]" alt="Imagen del producto" class="product-image" />
          </td>
          <td [title]="product.nombre">{{ truncateText(product.nombre, 20) }}</td>
          <td>{{ product.opcionesTipoTransaccion	 }}</td>
          <td>{{ product.precio | currency }}</td>
          <td>{{ product.color}}</td>
          <td>{{ product.disponible ? 'Sí' : 'No' }}</td>
          <td>{{ product.nuevo ? 'Sí' : 'No' }}</td>
          <td>
              <button (click)="editProduct(product._id)" class="custom-btn custom-btn-primary">Editar</button>
              <button (click)="deleteProduct(product._id)" class="custom-btn custom-btn-danger">Eliminar</button>
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft">
      <button pButton type="button" icon="pi pi-refresh" (click)="getProductos()" class="p-button-text"></button>
  </ng-template>
</p-table>
</section>
