.notifications-container {
    font-family: Arial, sans-serif;
    width: 100%;
    // margin: 0 auto;
    padding: 20px;
    // border: 1px solid #ccc;
    // border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: start;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .high-priority {
    border-left: 5px solid #ff4d4d;
  }
  
  .medium-priority {
    border-left: 5px solid #ffcc00;
  }
  
  .low-priority {
    border-left: 5px solid #4d94ff;
  }
  
  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .notification-type {
    font-weight: bold;
    color: #555;
  }
  
  .notification-date {
    font-size: 0.9em;
    color: #777;
  }
  
  .delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  .notification-body p {
    margin: 0;
    color: #333;
  }
  
  .notification-status {
    font-size: 0.9em;
    padding: 3px 6px;
    border-radius: 3px;
  }
  
  .pending {
    background-color: #ffcc00;
    color: #333;
  }
  
  .approved {
    background-color: #4dff4d;
    color: #333;
  }
  
  .rejected {
    background-color: #ff4d4d;
    color: white;
  }
  
  .purchased {
    background-color: #4d94ff;
    color: white;
  }
  
  .returned {
    background-color: #ff9933;
    color: white;
  }