<ngx-ui-loader
  [bgsOpacity]="0.5"
  [bgsColor]="'#ebe3db'"
  [bgsPosition]="'bottom-right'"
  [bgsSize]="20"
  [bgsType]="'ball-spin-clockwise'"
  blur="10"
  [fgsColor]="'#323343'"
  [fgsPosition]="'center-center'"
  [fgsSize]="60"
  [fgsType]="'ball-spin-clockwise'"
  [gap]="24"
  [logoPosition]="'center-center'"
  [logoSize]="120"
  logoUrl="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730395938/images-AR/wyicw2mh3xxocscx0diz.png"
  masterLoaderId="'master'"
  [overlayBorderRadius]="'0'"
  [overlayColor]="'#fbfaf8'"
  [pbColor]="'#5F6467FF'"
  [pbDirection]="'ltr'"
  [pbThickness]="3"
  [hasProgressBar]="true"
  [text]="'Atelier'"
  [textColor]="'#333b43'"
  [textPosition]="'center-center'"

></ngx-ui-loader>

<router-outlet/>

<p-dialog *ngIf="showWelcomeMessage" modal [closable]="false" header="Bienvenido">
  <p>¡Bienvenido! Parece que es tu primera vez aquí.</p>
  <p>¿Quieres sincronizar una cuenta para recuperar tu información?</p>

  <div class="dialog-buttons">
    <button pButton label="Sí, sincronizar" (click)="sincronizarCuenta()" class="p-button-primary"></button>
    <button pButton label="No, gracias" (click)="cerrarMensaje()" class="p-button-secondary"></button>
  </div>
</p-dialog>

<!-- <ng-chatbot-angular
  [chatConfig]="config"
  (onMessageInput)="onMessageInput($event)"
  [serverResponse]="responses[responseIndex]">
</ng-chatbot-angular> -->


