<!-- Right Column: User Data -->
<div class="user-data">
  <!-- <h2>Informacion de la compra</h2> -->

  <div class="business-info">
    <p><i class="pi pi-map-marker"></i> Tahuizan, Huejutla de Reyes, México</p>
    <p><i class="pi pi-phone"></i> 771 366 7646</p>
    <p><i class="pi pi-envelope"></i> ateliervestidos.hgogmail.com</p>
    <!-- <p>
      <i class="pi pi-clock"></i> <span class="status open">Abierto ahora</span>
    </p> -->
    <p><i class="pi pi-shopping-cart"></i> Retiro en el negocio</p>
    <!-- <p><i class="pi pi-dollar"></i> Rango de precios: $$</p> -->
    <!-- <p><i class="pi pi-star"></i> Aún sin calificación (0 opiniones)</p> -->
  </div>

  <p class="note">
    <strong>Importante:</strong> Al realizar un apartado tienes 30 días
    naturales para realizar la liquidación de tu pedido.
    <br />
    La liquidación la puedes hacer en tienda o en línea y te recomendamos
    contactarnos por WhatsApp para confirmar la sucursal y/o datos de tu
    domicilio.
    <br />
    Los productos de tu apartado estarán reservados solo para ti y en caso de
    que tengamos un detalle con tu apartado te lo haremos saber.
    <br />
    En caso de que no hagas tu liquidación máximo en 30 días se te hará un
    reembolso en monedero electrónico a tu cuenta en Carlo Giovanni, saldo que
    podrá ser utilizado en el momento que tú quieras.
    <br />
    En cuanto al vestido que has apartado, este quedará disponible para venta
    pasando los 30 días.
    <br />
    <strong>Recuerda:</strong> Si seleccionaste retiro en tienda, tu pedido
    estará listo para recogerse a partir de las
    <strong>{{ selectedTime || "hora asignada" }}</strong> en nuestra sucursal.
  </p>
</div>
