<div class="container">
  <!-- <header>
    <h2>Panel de Control</h2>
  </header> -->
  <header>
    <div class="header-top">
      <h2>Panel de Control</h2>
      <li class="logout" (click)="logout()">
        <i class="pi pi-sign-out"></i> Cerrar Sesión
      </li>
    </div>
    <nav>
      <ul>
        <li (click)="redirectTo('home')">
          <i class="pi pi-home"></i> Inicio
        </li>
        <li (click)="redirectTo('historial-ventas')">
          <i class="pi pi-shopping-cart"></i> Ventas
        </li>
        <li (click)="redirectTo('historial-rentas')">
          <i class="pi pi-chart-line"></i> Rentas
        </li>
        <li (click)="redirectTo('perdidas')">
          <i class="pi pi-times-circle"></i> Pérdidas
        </li>
        <li (click)="redirectTo('analisis-rentas-stock')">
          <i class="pi pi-chart-line"></i> Analisis de Rentas y Stock
        </li>
      </ul>
    </nav>
  </header>
  
  

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>© 2025 - Gestión Empresarial</p>
  </footer>
</div>
