<div class="appointment-container">
  <div class="content">
    <div class="summary">
      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="renta" (click)="setTipoCompra('renta')">Renta</a>
        <a class="item" data-tab="venta" (click)="setTipoCompra('venta')">Venta</a>
      </div>

      <div class="ui bottom attached tab segment active" data-tab="renta">
        <p-table 
          [value]="productosRenta" 
          [(selection)]="selectedProductoRenta" 
          [paginator]="true" 
          [rows]="5" 
          selectionMode="single"
          dataKey="id">
          
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
            </tr>
          </ng-template>

          <ng-template let-item pTemplate="body">
            <tr [pSelectableRow]="item">
              <td><p-tableRadioButton [value]="item"></p-tableRadioButton></td>
              <td><img [src]="item.imagenPrincipal" [alt]="item.nombre" class="producto-img rounded"></td>
              <td>{{ item.nombre }}</td>
              <td>${{ item.precio }}</td>
            </tr>
          </ng-template>
        </p-table>

        <button 
          class="continue-btn" 
          [disabled]="!selectedProductoRenta"
          (click)="continuarCompra()">
          Continuar
        </button>
      </div>

      <div class="ui bottom attached tab segment" data-tab="venta">
        <p-table 
          [value]="productosVenta" 
          [(selection)]="selectedProductoVenta" 
          [paginator]="true" 
          [rows]="5" 
          selectionMode="single"
          dataKey="id">
          
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
            </tr>
          </ng-template>

          <ng-template let-item pTemplate="body">
            <tr [pSelectableRow]="item">
              <td><p-tableRadioButton [value]="item"></p-tableRadioButton></td>
              <td><img [src]="item.imagenPrincipal" [alt]="item.nombre" class="producto-img rounded"></td>
              <td>{{ item.nombre }}</td>
              <td>${{ item.precio }}</td>
            </tr>
          </ng-template>
        </p-table>

        <button 
          class="continue-btn" 
          [disabled]="!selectedProductoVenta"
          (click)="continuarCompra()">
          Continuar
        </button>
      </div>
    </div>

    <h4>Resumen de compra</h4>
    <p *ngIf="tipoCompra === 'renta'">Total Renta: ${{ totalCompra }}</p>
    <p *ngIf="tipoCompra === 'venta'">Total Venta: ${{ totalCompra }}</p>

    <app-data-compra></app-data-compra>
  </div>
</div>
