<div class="appointment-container">
  <div class="content">
    <!-- Left Column: Dress Summary -->
    <div class="summary">
      <div class="volver" >
        <i class="pi pi-arrow-left"(click)="volver()">Atrás</i> 
      </div>
      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="renta" (click)="setTipoCompra('renta')"
          >Renta</a
        >
        <a class="item" data-tab="venta" (click)="setTipoCompra('venta')"
          >Venta</a
        >
      </div>

      <div class="ui bottom attached tab segment active" data-tab="renta">
        <div *ngIf="productosRenta.length == 0" class="empty-cart">
          <svg
            width="100"
            height="100"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-shopping-cart"
          >
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2 8h13l2-6H6"></path>
            <path d="M9 21H20"></path>
          </svg>
          <p>Agrega productos al carrito </p>

          <a routerLink="/productos" class="btn-agregar">Ir a productos</a>
        </div>
        <div class="dress-item" *ngFor="let item of productosRenta">
          <img [src]="item.imagenPrincipal" [alt]="item.nombre" />
          <div class="details">
            <h5>{{ item.nombre }}</h5>
            <p>Precio: ${{ item.precio }}</p>
          </div>
          <button class="delete-btn" (click)="deleteDressItem(item.id)">
            Eliminar
          </button>
          <button class="continue-btn" (click)="continuarCompra(item, 'renta')">
            Continuar
          </button>
        </div>
      </div>

      <div class="ui bottom attached tab segment" data-tab="venta">
        <div *ngIf="productosVenta.length == 0" class="empty-cart">
          <svg
            width="100"
            height="100"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-shopping-cart"
          >
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2 8h13l2-6H6"></path>
            <path d="M9 21H20"></path>
          </svg>
          <p>Agrega productos al carrito </p>
          <a routerLink="/productos" class="btn-agregar">Ir a productos</a>
        </div>
        <div class="dress-item" *ngFor="let item of productosVenta">
          <img [src]="item.imagenPrincipal" [alt]="item.nombre" />
          <div class="details">
            <h5>{{ item.nombre }}</h5>
            <p>Precio: ${{ item.precio }}</p>
          </div>
          <button class="delete-btn" (click)="deleteDressItem(item.id)">
            Eliminar
          </button>
          <button class="continue-btn" (click)="mostrarResumen(item)">
            Continuar
          </button>
        </div>
      </div>
    </div>

    <p *ngIf="tipoCompra === 'renta'">Total Renta: ${{ totalCompra }}</p>
    <p *ngIf="tipoCompra === 'venta'">Total Venta: ${{ totalCompra }}</p>

    <app-data-compra></app-data-compra>

    <p-dialog
      header="Resumen de compra"
      [(visible)]="mostrarModal"
      [modal]="true"
      [closable]="true"
    >
      <div class="resumen-compra">
        <p>Producto: {{ productoSeleccionado?.nombre }}</p>
        <p>Precio: ${{ productoSeleccionado?.precio }}</p>
        <p *ngIf="tipoCompra === 'renta'">
          Total Renta: ${{ productoSeleccionado?.precio }}
        </p>
        <p *ngIf="tipoCompra === 'venta'">Total Venta: ${{ totalCompra }}</p>
        <button
          pButton
          label="Descargar"
          icon="pi pi-download"
          class="ui-button-success"
          (click)="descargarResumen()"
        ></button>
        <button
          pButton
          label="Cerrar"
          icon="pi pi-times"
          class="ui-button-secondary"
          (click)="mostrarModal = false"
        ></button>
      </div>
    </p-dialog>
  </div>
</div>
