
<div class="error-container">
  <div class="image-container">
    <img
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1738220295/Empty_State_Icons_placeholders_plmcqb.jpg"
      alt="Error Image"
      class="error-image"
    />
  </div>
  <div class="overlay">
    <h1 class="error-title">¡Error 500!</h1>
    <p class="error-subtitle">
      Lo sentimos, ha ocurrido un error inesperado en el servidor.<br />
      Estamos trabajando para resolverlo lo antes posible.
    </p>
    <button pButton type="button" class="back-button" (click)="goBack()">Volver</button>

  </div>
</div>
