<app-hero-img></app-hero-img>
<main class="box">
  <app-sidevar></app-sidevar>
  <section class="productos">
    <header class="products-header">
      <h2>Productos</h2>
    </header>
    <p-carousel
      [value]="productos"
      [numVisible]="5"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="2000"
      [circular]="false"
    >
      <ng-template pTemplate="item" let-producto>
        <div class="producto-card">
          <div class="ribbon">Nuevo</div>
          <div class="product-image">
            <img
              (click)="verDetalles(producto._id)"
              [src]="producto.imagenPrincipal"
              alt="{{ producto.nombre }}"
            />
          </div>
          <div class="product-content">
            <p>{{ producto.nombre }}</p>
            <p>MX$:<strong> {{ producto.precio | currency }}</strong></p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>
</main>
<app-tag></app-tag>
