.box {
  display: flex;
  margin: 35px 120px;
}

@media (max-width: 600px) {
  .IsMobile {
    visibility: hidden;
  }
  .box {
    display: inline;
    margin: 0;
  }


}

@keyframes show-hero {
  from {
    opacity: 0;
    /* transform: scale(1.40); */
    filter: blur(2px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

/*  boton para card renta */
.btn-apartar-rentar {
  background-color: #fd6f9e; /* Color primario de la aplicación */
  color: #fff; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Padding interno */
  font-weight: bold; /* Texto en negrita */
  font-size: 1rem; /* Tamaño de fuente mediano */
  cursor: pointer; /* Cursor de tipo puntero */
  transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

.btn-apartar-rentar:hover {
  background-color: #fd4d86; /* Color de fondo más oscuro al pasar el cursor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave al pasar el cursor */
}

.btn-apartar-rentar:active {
  transform: scale(0.95); /* Reducir ligeramente el tamaño al hacer clic */
  opacity: 0.8; /* Aumentar la opacidad para dar sensación de presionado */
}

/* Estilos responsivos */
@media (max-width: 767px) {
  .btn-apartar-rentar {
    padding: 6px 12px; /* Reducir el padding en pantallas más pequeñas */
    font-size: 0.9rem; /* Reducir el tamaño de fuente en pantallas más pequeñas */
  }
}

/*  */
/* .skeleton-carousel {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.skeleton-card {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

.skeleton-text {
  margin-top: 10px;
}

.skeleton-text.short {
  margin-top: 5px;
}
 */


 .productos {
  display: flex;
  flex-direction: column;
  /* padding: 60px 80px; */
  /* flex-grow: 1; */
  flex-grow: 1;
  padding: 10px;
  width: 100%;

z-index:1;
  .products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }
  }
}