<!-- Opción de restablecimiento por teléfono -->
<div *ngIf="!esFrmVerificacion && !esFrmResetPassword" class="container2">
    <h1>Recuperación de cuenta</h1>
    <h2>Número de teléfono</h2>
    <h5>
        Ingresa tu número de teléfono y sigue las instrucciones para restablecer tu contraseña
    </h5>
    <form [formGroup]="frmbuscarTelefono" (ngSubmit)="enviarYbuscarTelefono()" method="post">
        <div class="form-group">
            <label for="telefono">Número de teléfono:</label>
            <input required formControlName="telefono" type="tel" class="telefono" placeholder="Ej: 5551234567" />
            <div *ngIf="frmbuscarTelefono.get('telefono')?.invalid && frmbuscarTelefono.get('telefono')?.touched">
                <small class="text-danger">Ingresa un número de teléfono válido (10 dígitos).</small>
            </div>
        </div>
        <p-button *ngIf="!isLoading" [disabled]="frmbuscarTelefono.invalid" iconPos="right" label="Enviar SMS"
            type="submit">
        </p-button>
        <button disabled *ngIf="isLoading" class="ui loading button">
            Loading
        </button>
    </form>
</div>

<!-- Proceso de verificación de código -->
<div *ngIf="esFrmVerificacion && !esFrmResetPassword" class="container2">
    <h2>Obtén la verificación en tu teléfono</h2>
    <h5>
        Para fines de seguridad, ingresa el código que hemos enviado a:
        <strong>{{ frmbuscarTelefono.get('telefono')?.value }}</strong>
    </h5>
    <form [formGroup]="frmVerificacion" (ngSubmit)="verificarCodigo()" method="post">
        <div class="form-group">
            <label for="codigo">Código de verificación</label>
            <p-inputOtp formControlName="codigo" name="otpCode"></p-inputOtp>
            <small id="codigo-help">Introduce tu código para restablecer tu contraseña.</small>
        </div>
        <p-button type="submit" label="Verificar" [loading]="isLoading"> </p-button>
    </form>
</div>

<!-- Formulario para resetear la contraseña -->
<div *ngIf="esFrmResetPassword" class="container2">
    <h2>Actualiza tu Contraseña</h2>
    <h5>Crea una nueva contraseña segura</h5>
    <form [formGroup]="frmActualizaPassword" (ngSubmit)="actualizarPasswordxTelefono()" method="post">
        <div class="form-group">
            <label for="nueva">Nueva Contraseña</label>
            <p-password formControlName="nueva" placeholder="Introduce tu contraseña" [toggleMask]="true"
                [feedback]="false" [maxLength]="16"></p-password>
            <label for="confirma">Confirmar Contraseña</label>
            <p-password formControlName="confirma" placeholder="Confirma tu contraseña" [toggleMask]="true"
                [feedback]="false" [maxLength]="16"></p-password>
            <span *ngIf="frmActualizaPassword.get('nueva')?.value !== frmActualizaPassword.get('confirma')?.value"
                class="text-danger">
                Las contraseñas no coinciden.
            </span>
        </div>
        <p-button *ngIf="!isLoading" [disabled]="frmActualizaPassword.invalid" iconPos="right"
            label="Restablecer Contraseña" type="submit">
        </p-button>
        <button disabled *ngIf="isLoading" class="ui loading button">
            Loading
        </button>

        ggggg
            <a style="color:dodgerblue;" href="" (click)="onRegresar()">
                <i class="pi pi-arrow-left"></i> Regresar
            </a>
    </form>
</div>