<div class="floating-header">
  <!-- Logo y texto "Atelier" -->
  <div class="logo-container">
    <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1726493852/images-AR/cirf6qlatrjdkuj81fwy.jpg" alt="Logo" class="logo-image">
    <span class="logo-text">Atelier</span>
  </div>

  <div class="admin-info">
    <!-- <span class="date">{{fechaTexto}}</span> -->
  </div>

  <div class="profile-menu" *ngIf="isLoggedIn">
    <div class="avatar" (click)="toggleMenu()">
      <img src="https://dummyimage.com/40x40/ccc/aaa&text=2x2" alt="Placeholder">
    </div>
    <div class="menu" *ngIf="menuOpen">
      <a href="/mi-perfil">Mi Perfil</a>
      <a (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>
