<p-confirmDialog></p-confirmDialog>

<div  class="contiendescripcion">
  <div class="volver"(click)="volver()">
    <i class="pi pi-arrow-left" ></i> Atrás
  </div>
  <div class="product-detail-container" *ngIf="Detalles && !isLoading" data-aos="zoom-in-down">
    <div class="product-img">
      <div class="thumbnail-images">
        <ng-container *ngIf="Detalles.imagenes">
          <img *ngFor="let image of Detalles.imagenes; let i = index" [src]="image" alt="Thumbnail"
            (click)="changeMainImage(image)" [class.selected]="image === mainImageUrl" class="thumbnail" />
        </ng-container>
      </div>

      <!-- Imagen principal -->
      <div class="product-images">
        <img #mainImage *ngIf="mainImageUrl" [src]="mainImageUrl" alt="Product Main Image" class="main-image"
          (click)="openModal()" (mousemove)="applyZoomEffect($event)" (mouseleave)="resetZoomEffect()" />
      </div>
    </div>

    <!-- Carrusel para móviles -->
    <div class="image-carousel" *ngIf="!isLoading && Detalles.imagenes">
      <p-galleria [value]="images" [activeIndex]="selectedImageIndex" [showIndicators]="true" [showThumbnails]="false"
        [responsiveOptions]="responsiveOptions" [circular]="true" class="styled-galleria"
        (activeIndexChange)="onImageChange($event)">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" class="carousel-image" alt="Product Image" />
        </ng-template>
      </p-galleria>

      <!-- Botones de navegación -->
      <button class="carousel-nav left" (click)="prevImage()">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="carousel-nav right" (click)="nextImage()">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>

    <!-- informacion del producto -->
    <div class="product-info" data-aos="zoom-in-down">
      <h1 class="product-name">{{ Detalles.nombre }}</h1>

      <!-- Etiquetas de disponibilidad y "Nuevo" -->
      <div class="availability-container">
        <div *ngIf="Detalles.disponible" class="availability">
          <i class="fas fa-store"></i>
          <span>Disponible en tienda</span>
        </div>
      </div>
      <div *ngIf="Detalles?.opcionesTipoTransaccion" class="transaction-type-badge">
        <span *ngIf="Detalles.opcionesTipoTransaccion === 'renta'" class="badge renta">
          Disponible para Renta
        </span>
        <span *ngIf="Detalles.opcionesTipoTransaccion === 'venta'" class="badge venta">
          Disponible para Venta
        </span>
        <span *ngIf="Detalles.opcionesTipoTransaccion === 'especial'" class="badge especial">
          Oferta Especial
        </span>
        <!-- Puedes agregar más opciones según necesites -->
      </div>
      <!-- 🚨 Mostrar mensaje si el producto no está disponible -->
      <div class="availability" *ngIf="!Detalles.disponible">
        <i class="pi pi-exclamation-triangle"></i>
        <span>La renta para este producto o la publicación está pausada.</span>
      </div>
      <div class="contenidoTExt">
        <div class="price-content">

          <p class="price">$MX{{ Detalles.precio }}</p>

        </div>
        <div *ngIf="Detalles.nuevo" class="new-label">
          <i class="fas fa-tag"></i>
          <span>¡Nuevo!</span>
        </div>
      </div>
      <!-- Opciones del producto -->
      <div class="product-options">
        <h2>Acerca de este producto</h2>
        <!-- Detalles del producto -->
        <div class="product-detail">
          <p><strong>Talla:</strong> <span>{{ Detalles.talla }}</span></p>
        </div>
        <div class="product-detail">
          <p><strong>Color:</strong> <span>{{ Detalles.color }}</span></p>
        </div>
        <div class="product-detail">
          <p><strong>Forma del cuello:</strong> <span>{{ Detalles.tipoCuello }}</span></p>
        </div>
        <div class="product-detail">
          <p><strong>Estilo de la cola:</strong> <span>{{ Detalles.tipoCola }}</span></p>
        </div>


        <div class="product-detail">
          <p><strong>Cantidad:</strong> <span>1</span></p>
        </div>

        <!-- Botones de acción -->
        <button *ngIf="Detalles.disponible"
          (click)="Detalles.opcionesTipoTransaccion == 'renta' ? redirigirContinuarRenta(Detalles._id) : redirigirContinuarCompra(Detalles._id)"
          class="ui add-to-cart rent button" [class.loading]="isLoadingBtn" [class.disabled]="isLoadingBtn">
          {{ Detalles.opcionesTipoTransaccion == 'renta' ? 'Me lo quiero probar' : 'Continuar con la compra' }}
        </button>

        <button (click)="apartarRentar(Detalles)" class="add-to-cart">
          <i class="pi pi-shopping-cart"></i> Agregar a carrito
        </button>

        <!-- Compartir enlace -->
        <div class="share-link">
          <p><strong>Compartir:</strong></p>
          <button class="share-button" title="Compartir enlace">
            <i class="pi pi-share-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="loading-container" *ngIf="!Detalles && isLoading">
    <!-- Contenedor de imágenes -->
    <div class="skeleton-image-section">
      <!-- Columna con 3 tarjetas mini -->
      <div class="skeleton-cards">
        <p-skeleton width="70%" height="70px"></p-skeleton>
        <p-skeleton width="70%" height="70px"></p-skeleton>
        <p-skeleton width="70%" height="70px"></p-skeleton>
      </div>

      <!-- Contenedor grande para imagen principal -->
      <div class="skeleton-container">
        <p-skeleton width="100%" height="400px"></p-skeleton>
      </div>
    </div>

    <!-- Contenedor de información del producto -->
    <div class="loading-container-info">
      <!-- Skeleton para el nombre del producto -->
      <p-skeleton width="100%" height="40px"></p-skeleton>

      <!-- Skeleton para la disponibilidad -->
      <div class="skeleton-availability">
        <p-skeleton width="20px" height="20px" shape="circle"></p-skeleton>
        <p-skeleton width="40%" height="20px"></p-skeleton>
      </div>

      <!-- Skeleton para el precio -->
      <p-skeleton width="30%" height="30px"></p-skeleton>

      <!-- Skeleton para las opciones del producto -->
      <div class="skeleton-options">
        <p-skeleton width="50px" height="20px"></p-skeleton>
        <p-skeleton width="60px" height="30px" shape="circle"></p-skeleton>

        <p-skeleton width="50px" height="20px"></p-skeleton>
        <p-skeleton width="60px" height="30px" shape="circle"></p-skeleton>

        <p-skeleton width="50px" height="20px"></p-skeleton>
        <p-skeleton width="60px" height="30px" shape="circle"></p-skeleton>
      </div>

      <!-- Skeleton para el botón -->
      <p-skeleton width="80%" height="50px" borderRadius="10px"></p-skeleton>

      <!-- Skeleton para compartir enlace -->
      <div class="skeleton-share">
        <p-skeleton width="80px" height="20px"></p-skeleton>
        <p-skeleton width="40px" height="40px" shape="circle"></p-skeleton>
      </div>
    </div>
  </div>
  <div *ngIf="Detalles && !isLoading">
    <h2 class="description-title">Descripción</h2>
    <p class="description-summary">{{ Detalles.descripcion }}</p>

    <h2 class="carousel-title">Accesorios incluidos en el look</h2>
    <!-- <div class="carousel">
      <div class="carousel-item" *ngFor="let detalle of accesorios">
        <img [src]="detalle.imagen" alt="{{ detalle.nombre }}" />
        <h3>{{ detalle.nombre }}</h3>
      </div>
    </div> -->

    <h2 class="related-title">Productos Relacionados</h2>
    <div class="related-products">
      <div class="carousel-track">
        <div class="related-product" *ngFor="let related of productosRelacionados">
          <img [src]="related.imagen" alt="{{ related.nombre }}" />
          <h3>{{ related.nombre }}</h3>
          <p class="price">${{ related.precio }}</p>
        </div>
      </div>
    </div>

  </div>
  <!-- </div> -->
</div>
<!-- Modal de la imagen en pantalla completa -->
<!-- <div class="image-modal" *ngIf="isViewImagen" (click)="closeModal($event)"> -->
  <!-- Botón de cerrar -->
  <!-- <button class="close-button" (click)="btnClose()">
    <i class="pi pi-times"></i>  -->
    <!-- Ícono de FontAwesome o PrimeNG -->
  <!-- </button> -->
  <!-- <div class="modal-image-container">
    <img #PreviewmainImage [src]="mainImageUrl" alt="Imagen Ampliada" class="modal-image"
      (mousemove)="applyZoomEffectPreviewmainImage($event)"
      (mouseleave)="resetZoomEffectPreviewmainImage()" />
  </div> -->
<!-- </div> -->



<!-- imagenes en aos  -->
 


<!-- Galería Fancybox (opcional) -->
<div id="fancyboxGallery" class="d-none">
  <a *ngFor="let img of imagenes" data-fancybox="gallery" [href]="img">
    <img [src]="img" class="d-none" />
  </a>
</div>