.product-info {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  padding: 20px;
  height: 69vh;
  // position: fixed;
  // border:solid 1.5px #f5f5f5;
}

.availability {
  display: flex;
  align-items: center; // Alinea verticalmente el ícono y el texto
  // margin-top: 10px; // Espacio entre el nombre del producto y la disponibilidad

  i {
    margin-right: 5px; // Espacio entre el ícono y el texto
    font-size: 16px; // Ajusta el tamaño del ícono según sea necesario
    color: #4f4e4e; // Color del ícono (ajusta según tu diseño)
  }

  span {
    // font-weight: 900;
    font-size: 14px; // Tamaño del texto
    color: #2a2a2c; // Color del texto (ajusta según tu diseño)
    text-decoration: underline;
  }
}

h1 {
  min-height: 1rem;
  // font-size: 30px;

  font-weight: 999;
}

.price {
  color: #ff7f00;
  // font-size: 1.5em;
  font-size: 20px;
  font-weight: 900;


}

// p{
//   font-size: x-small;
//   color: #626262;
// }
.description {
  color: #333;

  font-size: 0.9em;
  margin-bottom: 15px;
}

.product-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // padding: 10px;
}

.product-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9em;
}

.circle-option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #333;
  // color: ;
  font-size: 0.9em;
  // font-weight: bold;
  text-align: center;
}

.color-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.add-to-cart {
  margin-top: 20px;
  padding: 10px 20px;
  color: #ff7f50;
  background-color: white;
  border: 1px solid #ff7f50;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;

  &.rent {
    color: white;

    background-color: #ff7f00; // Fondo anaranjado específico para renta
  }

  &:active {
    color: white;
    /* Cambia el color del texto al hacer clic */
    background-color: #ff7f50;
    /* Cambia el fondo al hacer clic */
    border: 1px solid #ff7f50;
    /* Mantiene el borde */
  }
}

.thumbnail {
  filter: grayscale(100%);
  /* Filtro gris por defecto */
  transition: filter 0.3s ease;
  border: 2px solid rgb(229, 229, 229);

  /* Transición suave */
}


.thumbnail.selected {
  filter: none;
  /* Sin filtro para la imagen seleccionada */
  border: 2px solid orange;
  /* Borde naranja para la imagen seleccionada */
}



/* Estilos para pantallas móviles */
@media only screen and (max-width: 768px) {
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    padding: 20px;
    height: auto;
  }
}


.share-link {
  display: flex;
  align-items: center;
  margin-top: 12px;

  p {
    margin-right: 8px;
    // font-weight: bold;
  }

  .share-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
    /* Color del ícono de compartir */
    font-size: 24px;
    transition: color 0.3s;

    &:hover {
      color: #0056b3;
      /* Color más oscuro al pasar el ratón */
    }
  }
}

/* styles.css o el archivo de estilos del componente */
.product-notification {
  display: flex;
  align-items: center;
  gap: 10px;
}

// .product-image {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }

.product-details h4 {
  margin: 0;
  font-size: 16px;
}

.product-details p {
  margin: 0;
  font-size: 24px !important;
  color: #211d1d;
}

.product-actions {
  display: flex;
  gap: 10px;
}

.product-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




.availability-container {
  display: flex;
  gap: 10px;
  /* Espacio entre las etiquetas */
  margin-top: 60px;
  margin-bottom: 15px;
  /* Espacio debajo del contenedor */
}

.product-name {
  font-size: 30px;

}


.new-label {
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: self-end;
  /* Espacio entre el ícono y el texto */
  // padding: 8px 12px;
  border-radius: 20px;
  /* Bordes redondeados */
  font-size: 12px;
  padding: 5px;
  height: fit-content;
  font-weight: bold;
}

.contenidoTExt {
  gap: 10px;
  display: flex;
  flex-direction: row;
  // padding: inherit;
  // justify-content: space-between;
}

// .availability {
//   background-color: #e8f5e9; /* Fondo verde claro */
//   color: #2e7d32; /* Texto verde oscuro */
// }

.new-label {
  background-color: #ffe0f2;
  /* Fondo naranja claro */
  color: #e600c4;
  /* Texto naranja oscuro */
}

.fas.fa-store,
.fas.fa-tag {
  font-size: 16px;
  /* Tamaño del ícono */
}