.opcion-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.opcion-card:hover {
  background-color: #f5f5f5;
}
.opciones{
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

.card-content {
  text-align: center;
}

.card-content i {
  font-size: 24px;
  margin-bottom: 8px;
}

.card-content h3 {
  margin: 8px 0;
}

.card-content p {
  margin: 0;
  color: #666;
}
/* Container */
.container,
.container2 {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;

  // border: 1px solid #ccc;
  border-radius: 5px;
  text-align: start;
  // background: #fcfcfc;
  // box-shadow: 0 10px 10px rgba(165, 165, 165, 0.911);
}
