<!-- Mostrar opciones de recuperación -->
<div *ngIf="mostrarOpciones" class="container2">
  <a href="javascript:void(0)" (click)="inicio()" class="regresar-link">
    <i class="pi pi-arrow-left"></i> inicio
  </a>
  <h1>Recuperación de cuenta</h1>
  <h2>Selecciona una opción</h2>
  <div class="opciones">
    <!-- Tarjeta para recuperar por pregunta secreta -->
    <div (click)="seleccionarOpcion('pregunta')" class="opcion-card">
      <div class="card-content">
        <i class="pi pi-question-circle"></i>
        <h3>Recuperar por pregunta secreta</h3>
        <p>Responde tu pregunta secreta para recuperar tu cuenta.</p>
      </div>
    </div>

    <!-- Tarjeta para recuperar por correo -->
    <div (click)="seleccionarOpcion('correo')" class="opcion-card">
      <div class="card-content">
        <i class="pi pi-envelope"></i>
        <h3>Recuperar por correo</h3>
        <p>Recibe un enlace de recuperación en tu correo electrónico.</p>
      </div>
    </div>
  </div>
</div>
<!-- Mostrar componente de recuperación por correo -->
<div *ngIf="opcionSeleccionada === 'correo'">
  <app-recuperar-by-email (regresar)="regresar()"></app-recuperar-by-email>
</div>

<!-- Mostrar componente de pregunta -->
<div *ngIf="opcionSeleccionada === 'pregunta'">
  <app-recupar-by-pregunta (regresar)="regresar()"></app-recupar-by-pregunta>
</div>