<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '450px'}" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <h3>Agregar Accesorio</h3>
  </ng-template>

  <form [formGroup]="accesorioForm" (ngSubmit)="createAccesorio()">
    <div class="p-field">
      <label for="nombre">Nombre del accesorio</label>
      <input type="text" id="nombre" pInputText formControlName="nombre" required>
    </div>

    <img
            [src]="accesorioForm.get('imagenPrincipal')?.value"
            alt="Imagen principal"
          />
    <div class="p-field">
      <label for="imagenPrincipal">Imagen del accesorio</label>
      <input type="file" id="imagenPrincipal" accept="image/*" (change)="onFileSelected($event)" required>
    </div>

    <div class="p-field">
      <label for="disponible">¿Disponible?</label>
      <input type="checkbox" id="disponible" formControlName="disponible">
    </div>

    <div class="p-grid p-justify-end">
      <button pButton type="submit" label="Agregar Accesorio" [disabled]="accesorioForm.invalid"></button>
    </div>
  </form>
</p-dialog>
