/* Estilos generales */
.about-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
/* Estilos FAQ */
.faq-section {
    background: #f8f9fa;
    border-radius: 12px;
    padding: 2rem;
}

.faq-section h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding:20px;
    background: white;

}

.faq-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    padding: 1rem 0;
    font-size: 1.1rem;
    color: #2c3e50;
    cursor: pointer;
    text-align: left;
}

.faq-question:hover {
    color: #e91e63;
}

.toggle-icon {
    font-size: 1.5rem;
    color: #7f8c8d;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding-left: 1rem;
}

.faq-answer.active {
    max-height: 200px;
    padding: 1rem 0;
}

.faq-answer p {
    margin: 0;
    color: #34495e;
    line-height: 1.6;
}

.toggle-icon {
    font-size: 1.5rem;
    color: #ff7f50;
    width: 30px;
    height: 30px;
    text-align: center;
    // background-color: #ff7f50;
    justify-content: center;
    border-radius: 50px;
  }